<div class="row banner">
	<h1>Get Your Facts Right</h1>
	
</div>
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6"></div>
</div>	
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6"></div>
</div>	
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6"></div>
</div>	
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6"></div>
</div>	
<div></div>	