<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the movie trivia!</title>
</head>
<body>
<h1> Welcome to the movie trivia</h1>
<header>Please input movie category you want your results to display</header>
<br>
<form action="/movie_results" method="POST">
  <input type="text" name="genre" placeholder="Movie Genre">
  <button type="submit">Search for Movie</button>
</form>
</body>
</html>