<h1>Here we go again</h1>

<ul>
	<% @projects.each do | project | %>
		<li>
			<%= project.name %>
			<%if project.description.present? %>
				 - <%= project.description %>
			<% end%>		
		</li>
	<% end %>

	<%= link_to 'add project', new_project_path %>

</ul>