body:after {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	font-weight:bold;
	font-size:300%;
	text-align: center;
	color:white;
	content: "0 - 320px width or greater";
	background-color: #D8D8D8;
}

@media screen and (min-width: 320px) {
	body:after{
		content: "320 - 480px width or greater";
		background-color: #C8C8C8;
	}
}

@media screen and (min-width: 320px) {
	body:after{
		content: "320 - 480px width or greater";
		background-color: #C8C8C8;
	}
}

@media screen and (min-width: 480px) {
	body:after{
		content: "480 - 768px width or greater";
		background-color: #909090;
	}
}

@media screen and (min-width: 768px) {
	body:after{
		content: "768 - 1024px width or greater";
		background-color: #666;
	}
}

@media screen and (min-width: 1024px) {
	body:after{
		content: "1024px - 1200px width or greater";
		background-color: #333;
	}
}

@media screen and (min-width: 1200px) {
	body:after{
		content: "1200px width or greater";
		background-color: #000;
	}
}