<h1>Welcome to the giftagram</h1>
	<ul>
	<% @posts.each do | single_post | %>
		<li>
			<h2><%= single_post.title %></h2>
			<%= image_tag(single_post.gif_url) %> <br/>
			Votes: <%= single_post.votes %><br/>
			<button class="btn btn-xs btn-success">View </button>
			<% end %>
		</li>
	</ul>