body {
    font-family: Georgia, Cambria, "Times New Roman",Times,serif;
    color:#867979;
    background-color: #DEDDC5;
}

.heading {
    font-family: Calibre, "Helvetica Neue", Helvetica, Arial, sans-serif
    color: black;
}

#main_title{
	font-size: 32px;
	font-weight: bold;
	color: black;
}

#second_title{
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.date {
	font-size: 18px;
	color: #867979;
}

.author {
	font-size: 20px;
	color: #C9354a;
}

.foto {
     text-align: center;
}

img {
     width: 75%;
}

ol{
list-style-type: none;
vertical-align: center;
}

blockquote{
font-weight: italic;
color: red;
}

textarea{
	margin: 0px;
    width: 1275px;
    height: 162px;
}