body {
    font-family: Georgia, Cambria, "Times New Roman",Times,serif;
    color:#867979;
}

.heading {
    font-family: Calibre, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#main_title{
	font-size: 40px;
	font-weight: bold;
	color: #808080;
}

#second_title{
	font-size: 32px;
	font-weight: bold;
	color: #808080;
}

.date {
	font-size: 18px;
	color: #867979;
}

.author {
	font-size: 20px;
	color: #C9354a;
}

.foto {
     text-align: center;
}

img {
     width: 75%;
}

ol{
list-style-type: none;
}

blockquote{
font-weight: italic;
color: red;
}